{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "overrides": [
    {
      "files": [
        "**/*.js"
      ],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}