@import "../styles/colors";
@import "../styles/mixins";

.invitation-callback {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .callback-content {
    height: 100%;

    h1 {
      font-size: 60px;
      line-height: 70px;
      font-weight: 700;
      margin-top: 20px;
      text-align: center;
      display: block;
      width: 100%;
    }

    ul.navigation {
      padding: 1em;
      margin: auto;

      li {
        margin: 1em;

        a {
          font-size: 20px;
          color: $color-orange;

          &:visited {
            color: $color-orange;
          }
        }
      }
    }

    .loader {
      transform: scale(1.5);
      display: inline-block;
      margin-left: auto;
      margin-top: 150px;
      padding-bottom: 50px;
      text-align: center;
    }

    .success {
      margin-top: 100px;

      a.btn {
        @include button($color-text);
        display: block;
        margin: auto;
        border: none;
        margin-top: 1em;
        padding: 1em;

        &:focus {
          outline: none;
        }
      }
    }

    .error {
      margin-top: 100px;

      .message {
        margin-top: 20px;
      }

      .error-trigger {
        cursor: pointer;
        color: $color-orange;

        &:hover {
          text-decoration: underline;
        }
      }

      pre {
        width: 50%;
        text-align: initial;
        white-space: pre-wrap;
        margin: auto;
      }
    }
  }
}